.cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cat-card {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.cat-card img {
    width: 100%;
    border-radius: 5px;
}